.film{
    border: solid 1px;
    flex-grow: 1;
    max-width: 350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    position: relative;
}

.title__container{
    padding: 10px;
}

.film img{
    width: 100%;
}


.favorite__btn{
    background-image: url(../../Assets/star.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
}